body{
    min-height:100vh!important;
    display:flex;
    flex-direction: column;
}
.column {
    min-height:400px;
}
.footer{
    background:whitesmoke;
}
.sidebar{
    border-left:1px solid whitesmoke;
}
.push-down{
    margin-top:20px;
}