body{
    min-height:100vh;
    background-color:#aaa;
}
.footer{
    background:#333;
    color:white;
}
.push-down{
    margin-top:20px;
}
.card{
    background:rgb(64,64,64);
    color:#eee;
    border:initial;
}