  .project{
    display:inline-block;
    position:relative;
    background-image:url('../images/sample.png');
    background-size:cover;
    margin:-1px -1px;
  }
  .project:hover{
    cursor:pointer;
  }
  .project span{
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    color:white;
    transform: translate(-50%, -50%);
    padding:0.5em 1em;
    border:1px solid white;
    text-shadow:2px 2px gray;
  }
  .project:hover span{
    display:inline-block;
  }
  @media (max-width:600px){
    .project{
      max-width:600px;
      width:100%;
      min-height:300px;
    }
  }
  @media (min-width:600px){
    .project{
      width:50%;
      height:400px;
      max-width:900px;
    }
  }
  .airbnb{
    background-image:url('../images/airbnb.png');
  }
  .calculator{
    background-image:url('../images/calculator.png');
  }
  .pomodoro{
    background-image:url('../images/pomodoro.png');
  }
  .twitter{
    background-image:url('../images/twitter.png');
  }
